.DS_Store
ParameterSweeps/.DS_Store

.ipynb_checkpoints/
DFTDElimination/.ipynb_checkpoints/
ParameterSweeps/.ipynb_checkpoints/

__pycache__/
ParameterSweeps/__pycache__/
Parameter_Sweeps_ssh/__pycache__/

dask-worker-space/
ParameterSweeps/dask-worker-space/


ParameterSweeps/DevilsDFTD2StageInfectionWithImmunityAndCullingState.p.bak
ParameterSweeps/DevilsDFTD2StageInfectionWithImmunityAndVaccinationState.p.bak
ParameterSweeps/DevilsDFTD2StageInfectionWithVaccinationAndCullingState.p.bak

figures/
ParameterSweeps/tmp_result_state/
